@{Layout = "_Layout";
}

<div id="container-about">
<h1>About</h1>

<p>
We are a business running since 2008. Fast grown, providing different kind of services only to provide
the best for our clients. 
</p>
<h3>We are indeed - UNIQUE!</h3>

<h4>Come and see!</h4>

<img id="about-pic" src="../../images/hotel.png" />


</div>
