@{Layout = "_Layout";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
<style>
    #container-contact{
      
        margin: 0;
        opacity: 0.9;
    }
</style>
<div id="container-contact">
<h1>Contact</h1>
<button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-envelope"></span>
</button>
<p>Feel free to contact us!</p>
<p>Phone: 5555-5555</p>
<p>E-mail: contact@contact.com</p>
</div>